{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- link de BOOTSTRAP -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <!-- LINK DE fontawesome -->
    <script
      src="https://kit.fontawesome.com/80afc1ebb2.js"
      crossorigin="anonymous"
    ></script>

    <!--link de CSS-->
    <link rel="stylesheet" href="{% static 'CSS/Style.css' %}" />

    <!--link de JS-->
    <script defer src="{% static 'JS/App.js' %}"></script>
    <title>{{titulo}}</title>
  </head>
  <body>
    <main class="container">
      <section class="info">
        <form action="ingresar/" class="form-group" method="post" id="form">
          {% csrf_token %}
          <fieldset class="form-gruop">
            <div class="row">
              <legend class="form-legend">Datos de la persona</legend>
            </div>

            <div class="col12">
              <label for="name" class="form-label"> </label>
              <input
                type="text"
                placeholder="Nombre"
                name="nombre"
                class="form-control"
                required
              />
              <label for="lasname" class="form-label"> </label>
              <input
                type="text"
                placeholder="Apellido"
                name="apellido"
                class="form-control"
                required
              />
              <label for="edad" class="form-label"> </label>
              <input
                type="number"
                name="edad"
                placeholder="Edad"
                class="form-control"
                required
              />

              <label for="email" class="form-label"> </label>
              <input
                type="text"
                placeholder="Email"
                name="email"
                class="form-control"
                required
              />
              <label for="Telefono"> </label>
              <input
                type="text"
                name="telefono"
                placeholder="Numero Telefonico"
                class="form-control"
              />

              <label for="Cedula" class="form-label"> </label>
              <input
                id="cedula"
                type="text"
                name="cedula"
                placeholder="Numero de Cedula"
                class="form-control"
                maxlength="11"
              />
            </div>
          </fieldset>
          <button class="btn btn-danger" type="reset">Reset</button>
          <button type="submit" class="btn btn-danger" id="btn">
            Enviar Datos
          </button>
        </form>
      </section>
      <section class="datos">
        {% block contents %} {% endblock%}
        <div class="alerta"></div>
      </section>
    </main>

    <!-- LINK DE BOOTSTRAP -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
      integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
